<h1 class="text-3xl">Contacto del servicio</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
Adipisicing laborum est enim in amet incididunt ut anim. Do elit dolor tempor cupidatat velit non enim excepteur laboris laborum. Sunt non esse adipisicing occaecat. Ad aliqua sint Lorem voluptate laboris sunt sit reprehenderit quis eiusmod. Enim qui magna veniam laborum cillum est commodo Lorem dolore fugiat id est est. Ex veniam nulla elit aute duis magna. Esse excepteur consectetur est officia dolor enim reprehenderit.
  </p>
</section>
